

/* GLOBAL */
h1,h2,h3,h4,h5,h6{
    font-family: Montserrat;
}

a,button,p,span{
    font-family: Roboto;
}

/* Font size 14 */

.nav__button1,.nav__button2,.navbar-collapse a,.service p,.article p,.article button{

    @include fontSizeSet(14px)
}

/* Font size 18 */

.header__hero p,.service h3,.article h3{
    @include fontSizeSet(18px)
}

/* Font weight 300 */

.navbar-collapse a,.header__hero p,.service p,.article p{
    @include fontWeightSet(300);
}
/* Font weight 400 */


.header__hero h1,.service h3,.article h3{
    @include fontWeightSet(400);

}



/* HERO */

.header__hero{

    h1{
       
        font-size: 38px;
    }

   

    .btn{
        font-size: 15px;
        font-weight: 500;
    }
}


/* ARTICLES */

.article{

  

   

    a:link{
        text-decoration: none;
    }

    button{
        font-weight: 500;
        padding: 0;
        border: 0;
        background-color: white;
        box-shadow: 0px 3px lighten($color: $darkGrey, $amount: 50) ;
        
    }
    
}

/* VIDEO SECTION */

.videoSection{

    .row h2{
    @include fontSet(25px,400,white);  
    }

    p{
    @include fontSet(18px,300,rgba(255, 255, 255, 0.73));
    }

    button{
    @include fontSet(15px,500,white);
    }

    h3{
    @include fontSet(48px,400,white);   
    }
    
    span{
    @include fontSet(14px,300,white);
    }   
}

/* FEATURED WORKS SECTION
&
MANAGEMENT TEAM SECTION */


.featuredWorks,.managementTeam{

    h2{
    @include fontSet(25px,400,$black)
      }

    p{
    @include fontSet(16px,300,$grey)
      }
}

.modal-footer{
    button{
        @include fontSet(15px,500,white);
        }
}


.managementTeam{
    
    h3{
        @include fontSet(18px,400,$black)
          }
    
        .managementTeam__card p{
        @include fontSet(14px,300,$grey)
          }
}


/* PARALLAX SECTION */

.parallax{

        h2{
        @include fontSet(25px,400,white); 
        }
    
        p{
        @include fontSet(18px,300,rgba(255, 255, 255, 0.73));
        }
        
        a:link{
            text-decoration: none;
        }
        button{
        @include fontSet(15px,500,white);

            
        }
    }


/* CAROUSEL SECTION */

.carouselBlock{

    h2{
        @include fontSet(25px,400,$black); 
        }
    
        p{
        @include fontSet(16px,300,$grey);
        }

}


/* FOOTER */

.footer__top{
    h2{
        @include fontSet(18px,400,$footerGrey);
        
        
    }

    a:link{
        text-decoration: none;
    }

    

    button{
        @include fontSet(15px,500,$footerBlack);
    }
}

.footer__middle{

    h2{
        @include fontSet(16px,400,$grey);
    
    }

    a{
        @include fontSet(14px,500,$footerGrey);

        &:link{
            text-decoration: none;
        }
    }

    ul{
        padding:0;
    }

    li{
        list-style-type: none;
        padding-top: 0.5rem;
    }

    .contact__info{
        li{
            @include fontSet(14px,300,$footerGrey);
  
        }
    }

    .newsletter{
        h2{
            padding-bottom: 0.5rem;
        }
    }

    
}

.footer__bottom span{
    @include fontSet(13px,300,$darkGrey);

}

