

$orange : #EE562F;
$black : #222222;
$footerBlack:#111111;
$footerGrey:rgba(255, 255, 255, 0.6);
$grey : #666666;
$darkGrey:rgb(102, 102, 102);
$pink: rgba(238, 86, 47, 0.08);
$footerSubmit: rgb(93, 90, 158);