html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.videoSection .btn, .videoSection button, .modal-footer .btn, .modal-footer button, .parallax .btn, .parallax button {
  padding: 12px 36px;
}

.nav__button2 {
  margin-left: 2rem;
  display: none;
}

.nav__button1 {
  margin-left: 3rem;
}

.header__hero {
  background-image: url(../img/header-img.jpg);
  background-position: center;
  background-size: cover;
}
.header__hero button {
  padding: 12px 36px;
  border: none;
}

.goUp {
  border: 0.5px solid #666666;
  padding: 20px 20px;
  position: fixed;
  z-index: 3;
  bottom: 0;
  right: 0;
  margin-right: 25px;
  margin-bottom: 25px;
}

.services {
  margin-bottom: 15vh;
  margin-top: 15vh;
}

.divisor {
  border-top: 0.1px solid #e6e6e6;
}

.articles {
  margin-bottom: 15vh;
  margin-top: 15vh;
}

.article {
  border: 0.5px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10vh;
  overflow: hidden;
}

.article__img1 {
  background-image: url(../img/article1.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 245px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.article__img2 {
  background-image: url(../img/article2.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 245px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.article__img3 {
  background-image: url(../img/article3.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 245px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.videoSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/tractor.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 15vh;
  margin-top: 10vh;
}
.videoSection video {
  z-index: 1;
  filter: brightness(30%);
}
.videoSection .overlay {
  position: relative;
  z-index: 2;
}
.videoSection .video__box {
  padding: 30px 15px;
  border: 0.5px solid #666666;
  border-radius: 5px;
}

.featuredWorks {
  margin-bottom: 15vh;
  margin-top: 20vh;
}

.big__img {
  background-image: url("../img/fw1.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 6vh;
}

.mini__img:nth-of-type(1) {
  background-image: url("../img/fw2.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 6vh;
}

.mini__img:nth-of-type(2) {
  background-image: url("../img/fw3.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 6vh;
}

.mini__img:nth-of-type(3) {
  background-image: url("../img/fw4.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 6vh;
}

.mini__img:nth-of-type(4) {
  background-image: url("../img/fw5.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 6vh;
}

.modal1__img {
  background-image: url("../img/fw1.jpg");
  background-position: center;
  background-size: cover;
}

.modal2__img {
  background-image: url("../img/fw2.jpg");
  background-position: center;
  background-size: cover;
}

.modal3__img {
  background-image: url("../img/fw3.jpg");
  background-position: center;
  background-size: cover;
}

.modal4__img {
  background-image: url("../img/fw4.jpg");
  background-position: center;
  background-size: cover;
}

.modal5__img {
  background-image: url("../img/fw5.jpg");
  background-position: center;
  background-size: cover;
}

.managementTeam {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.managementTeam__card {
  border: 0.5px solid #e6e6e6;
}

.card__img1 {
  background-image: url("../img/managementTeam1.png");
  background-position: center;
  background-size: cover;
}

.card__img2 {
  background-image: url("../img/managementTeam2.png");
  background-position: center;
  background-size: cover;
}

.card__img3 {
  background-image: url("../img/managementTeam3.png");
  background-position: center;
  background-size: cover;
}

.card__img4 {
  background-image: url("../img/managementTeam4.png");
  background-position: center;
  background-size: cover;
}

.parallax {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/tractor.png);
  background-size: auto;
  background-attachment: fixed;
  margin-top: 10vh;
  padding: 15vh 10vw;
}

.carouselBlock {
  margin-bottom: 15vh;
  margin-top: 25vh;
}

.footer__top h2 {
  text-align: center;
}
.footer__top button {
  padding: 12px 36px;
  display: block;
  border: none;
}

.nav__logo {
  width: 47px;
  height: 30px;
}

.header__hero {
  height: 100vh;
}

.goUp {
  width: 8vw;
  height: 6vh;
}
.goUp img {
  width: 20px;
  height: 20px;
}

.service__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.service__icon svg {
  width: 20px;
  height: 20px;
}

.divisor {
  height: 0.1px;
}

.articles .article {
  height: 65vh;
}

.article img {
  max-height: 245px;
  min-width: 100%;
}

.mini__img {
  min-height: 255px;
}

.big__img {
  min-height: 540px;
}

.card__img1, .card__img2, .card__img3, .card__img4 {
  width: 100%;
  height: 260px;
}

.newsletter .input-group {
  width: 75%;
}
.newsletter button {
  width: 50px;
}
.newsletter button svg {
  color: white;
}

/* GLOBAL */
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
}

a, button, p, span {
  font-family: Roboto;
}

/* Font size 14 */
.nav__button1, .nav__button2, .navbar-collapse a, .service p, .article p, .article button {
  font-size: 14px;
}

/* Font weight 300 */
.navbar-collapse a, .header__hero p, .service p, .article p {
  font-weight: 300;
}

/* HERO */
.header__hero h1 {
  font-size: 38px;
  font-weight: 400;
}
.header__hero p {
  font-size: 18px;
}
.header__hero .btn {
  font-size: 15px;
  font-weight: 500;
}

/* SERVICES */
.service h3 {
  font-size: 18px;
  font-weight: 400;
}

/* ARTICLES */
.article h3 {
  font-size: 18px;
  font-weight: 400;
}
.article a:link {
  text-decoration: none;
}
.article button {
  font-weight: 500;
  padding: 0;
  border: 0;
  background-color: white;
  box-shadow: 0px 3px #e6e6e6;
}

/* VIDEO SECTION */
.videoSection .row h2 {
  font-size: 25px;
  font-weight: 400;
  color: white;
}
.videoSection p {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.73);
}
.videoSection button {
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.videoSection h3 {
  font-size: 48px;
  font-weight: 400;
  color: white;
}
.videoSection span {
  font-size: 14px;
  font-weight: 300;
  color: white;
}

/* FEATURED WORKS SECTION
&
MANAGEMENT TEAM SECTION */
.featuredWorks h2, .managementTeam h2 {
  font-size: 25px;
  font-weight: 400;
  color: #222222;
}
.featuredWorks p, .managementTeam p {
  font-size: 16px;
  font-weight: 300;
  color: #666666;
}

.modal-footer button {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.managementTeam h3 {
  font-size: 18px;
  font-weight: 400;
  color: #222222;
}
.managementTeam .managementTeam__card p {
  font-size: 14px;
  font-weight: 300;
  color: #666666;
}

/* PARALLAX SECTION */
.parallax h2 {
  font-size: 25px;
  font-weight: 400;
  color: white;
}
.parallax p {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.73);
}
.parallax a:link {
  text-decoration: none;
}
.parallax button {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

/* CAROUSEL SECTION */
.carouselBlock h2 {
  font-size: 25px;
  font-weight: 400;
  color: #222222;
}
.carouselBlock p {
  font-size: 16px;
  font-weight: 300;
  color: #666666;
}

/* FOOTER */
.footer__top h2 {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.footer__top a:link {
  text-decoration: none;
}
.footer__top button {
  font-size: 15px;
  font-weight: 500;
  color: #111111;
}

.footer__middle h2 {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.footer__middle a {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
.footer__middle a:link {
  text-decoration: none;
}
.footer__middle ul {
  padding: 0;
}
.footer__middle li {
  list-style-type: none;
  padding-top: 0.5rem;
}
.footer__middle .contact__info li {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}
.footer__middle .newsletter h2 {
  padding-bottom: 0.5rem;
}

.footer__bottom span {
  font-size: 13px;
  font-weight: 300;
  color: rgb(102, 102, 102);
}

.nav__button1, .nav__button2 {
  color: #222222;
}

.navbar-collapse a {
  color: #666666;
}

.header__hero {
  color: white;
}
.header__hero button {
  background-color: #EE562F;
  color: white;
}

.goUp {
  background-color: #EE562F;
}

.service__icon {
  background-color: rgba(238, 86, 47, 0.08);
}
.service__icon svg {
  color: #EE562F;
}

.videoSection button, .parallax button, .modal-footer button {
  background-color: #EE562F;
  border: none;
}

.footer {
  background-color: #111111;
}
.footer hr {
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer__top button {
  background-color: white;
}
.footer .footer__middle .dropdown-menu {
  background-color: #111111;
}
.footer .footer__middle button {
  background-color: rgb(93, 90, 158);
}

@keyframes loadingOpacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
body {
  animation: loadingOpacity normal;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.nav__button1:hover, .nav__button2:hover {
  color: white;
  background-color: #EE562F;
  transition: all 0.5s ease-in-out;
}

.header__hero h1 {
  animation: loadingOpacity normal;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.header__hero p {
  animation: loadingOpacity normal;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.header__hero button {
  animation: loadingOpacity normal;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.goUp:hover {
  background-color: white;
  color: #222222;
}

.services .service:nth-of-type(1) {
  transform: translateX(-100px);
  opacity: 0;
}
.services .service:nth-of-type(2) {
  transform: translateY(100px);
  opacity: 0;
}
.services .service:nth-of-type(3) {
  transform: translateY(100px);
  opacity: 0;
}
.services .service:nth-of-type(4) {
  transform: translateX(100px);
  opacity: 0;
}

.services:hover .service:nth-of-type(1) {
  transform: translateX(0);
  opacity: 1;
  transition: all 1s ease-in-out;
}
.services:hover .service:nth-of-type(2) {
  transform: translateY(0);
  opacity: 1;
  transition: all 1s ease-in-out;
}
.services:hover .service:nth-of-type(3) {
  transform: translateY(0);
  opacity: 1;
  transition: all 1s ease-in-out;
}
.services:hover .service:nth-of-type(4) {
  transform: translateX(0);
  opacity: 1;
  transition: all 1s ease-in-out;
}

.article:hover {
  transform: translateY(-25px);
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 5px 10px;
}
.article:hover h3 {
  color: #EE562F;
  transition: all 0.5s ease-in-out;
}
.article:hover button {
  box-shadow: 0px 3px #EE562F;
  transition: all 0.5s;
}
.article:hover .article__img1, .article:hover .article__img2, .article:hover .article__img3 {
  transform: scale(1.05);
  transition: all 0.7s;
}

.videoSection button:hover {
  background-color: white;
  color: #222222;
  transition: all 0.5s ease-in-out;
}
.videoSection .col-md-4:nth-of-type(2) .video__box:nth-of-type(1) {
  transform: translateY(-100px);
  opacity: 0;
}
.videoSection .col-md-4:nth-of-type(2) .video__box:nth-of-type(2) {
  transform: translateY(100px);
  opacity: 0;
}
.videoSection .video__box:hover {
  border-color: #e6e6e6;
  transition: all 0.5s;
}

.videoSection:hover .col-md-4:nth-of-type(2) .video__box:nth-of-type(1) {
  transform: translateY(0px);
  opacity: 1;
  transition: transform 1s ease-in-out;
}
.videoSection:hover .col-md-4:nth-of-type(2) .video__box:nth-of-type(2) {
  transform: translateY(0px);
  opacity: 1;
  transition: transform 1s ease-in-out;
}

.featuredWorks .mini__img:hover, .featuredWorks .big__img:hover {
  cursor: crosshair;
  transform: scale(1.1);
  filter: brightness(50%);
  transition: all 0.3s ease-in-out;
}

.managementTeam__card:hover {
  transform: translateY(-15px);
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 5px 10px;
}

.parallax button:hover, .header__hero button:hover {
  background-color: white;
  color: #222222;
  transition: all 0.5s ease-in-out;
}

.footer__top button:hover {
  background-color: #EE562F;
  color: white;
  transition: all 0.5s ease-in-out;
}

.footer__middle a:hover {
  color: white;
  transition: all 0.2s ease-in-out;
}
.footer__middle button:hover {
  background-color: #7b79b2;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .goUp {
    width: 5vw;
    height: 6vh;
  }
  .nav__button1 {
    margin-left: 25rem;
  }
  .articles .article {
    height: 60vh;
  }
  .featuredWorks h2, .managementTeam h2, .carouselBlock h2, .parallax h2, .videoSection .row h2 {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  .goUp {
    width: 3vw;
    height: 6vh;
  }
  .nav__button1 {
    display: none;
  }
  .nav__button2 {
    display: inline-block;
  }
  .header__hero {
    padding: 0rem 1.5rem;
  }
  .header__hero h1 {
    font-size: 60px;
  }
  .header__hero .span__hero {
    display: block;
  }
  .articles .article {
    height: 70vh;
  }
  .featuredWorks .mini__img1, .featuredWorks .mini__img3 {
    margin-left: 3vw;
  }
  .managementTeam p, .featuredWorks p, .carouselBlock p {
    font-size: 18px;
  }
  .parallax {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .footer__top h2 {
    text-align: left;
    display: inline-block;
  }
  .footer__top button.btn__footer {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .navbar__container {
    margin: 0 10rem;
  }
  .header__hero {
    padding: 0rem 10rem;
  }
  .articles .article {
    height: 70vh;
  }
  .videoSection {
    padding: 10vh 12vw;
  }
  .videoSection .video__box {
    width: 120px;
    height: 150px;
  }
  .parallax {
    padding-left: 25vw;
    padding-right: 25vw;
  }
}/*# sourceMappingURL=style.css.map */